<li class="GameItem">
    <img src="{{ game.Icon }}" alt="Иконка {{ game.Title }}" class="GameIcon" />
    <h2 class="GameTitle">{{ game.Title }}</h2>
    <p class="GameDescription">
      {{ game.Description }}
    </p>
    <a
      href="{{ game.Link }}"
      class="StoreButton"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"
        alt="Доступно в Google Play"
      />
    </a>
  </li>